__pycache__/
*.py[cod]
*$py.class
*.so
build/
dist/
eggs/
.eggs/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
*.egg
MANIFEST
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache/
.pytest_cache/
.mypy_cache/
.ruff_cache/
.ipynb_checkpoints/
venv/
.venv/
env/
ENV/
.env
.env.*
pip-log.txt
pip-delete-this-directory.txt
.idea/
.vscode/
.DS_Store
